name: Go Deployment on EC2 instance

on: 
    push:
        branches:
            - main

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Source
              uses: actions/checkout@v4
            - name: Login into Docker Hub
              run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
            - name: Build docker image
              run: docker build -t atharvamhaske/go-ec2:latest .
            - name: Push image to docker hub
              run: docker push atharvamhaske/go-ec2:latest 
              
    deploy: 
        needs: build
        runs-on: self-hosted
        steps:
            - name: Pull Docker image
              run: docker pull atharvamhaske/go-ec2:latest
            - name: Delete old container
              run: docker rm -f goapp-container || true
            - name: Run docker container   
              run: docker run -d -p 8080:8080 --name goapp-container -e PORT="${{ secrets.PORT }}" atharvamhaske/go-ec2:latest